form{
    background-color: var(--color-2);
    padding: 1rem;
    padding-top: 0;
    border-radius: 1rem;
}
input, input[type="submit"], select{
    background-color: var(--color-4);
}
.seccion{
    font-weight: bold;
    margin-left: 0;
}