.grid-header-gyl{
    grid-template-columns: 80% 20%;
    align-items: center;
}

header a{
    text-align: center;
}

header h1{
    align-items: center;
}

header a img{
    padding-top: .2rem;
    height: 4rem;
}

.grid-gyl{
    margin: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
}

.group{
   border-radius: 1rem;
}

.name{
    border: 2px solid var(--fuente-color);
    background-color: var(--gray);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 60% 30% 10%;
}

.users{
    width: 100%;
}

.options{
    width: 100%;
}

.content{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 2px solid var(--fuente-color);
    border-top: none;
    padding: 1rem;
    padding-bottom: 0;
}   

.content-content{
    align-self: center;
    background-color: var(--gray);
    text-align: center;
    border-radius: 1rem;
}

.content a{
    display: grid;
    grid-template-columns: 30% calc(70% - 1rem);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}