@import url('https://fonts.googleapis.com/css2?family=Alata&family=Recursive&display=swap');

/*Codigo Normilize para reiniciar los estilos del navegador y que el proyecto se vea igual independientemente del navegador que use el usuario*/
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root{
    --f-texto: 'Recursive';
    --f-titulo: 'Alata';

    --color-1: #FE9A22;
    --color-2: #FFC278;
    --color-3: #FFE3C1;
    --color-4: #fff;
    --gray: #bbb;

    --fondo: #FFF9F1;

    --hover-1: var(--color-1);
    --hover-2: var(--color-2);
}

/* General */

body{
    font-family: var(--f-texto);
    margin-bottom: 1rem;
    background-color: var(--fondo);
}

.principal{
    margin-inline: 10%;
}

/* Enlaces */
a, a:visited{
    text-decoration: none;
    color: black;
}

h1{
    font-family: var(--f-titulo);
}

/* Barra de navegacion */

nav{
    background-color: var(--color-2);
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

nav a{
    width: 100%;
    padding-block: 1rem;
    text-align: center;
    height: 1rem;
}

.icono{
    padding-block: .1rem;
    height: 2.8rem;
}

nav a img{
    height: 2.8rem;
}

nav a:hover{
    background-color: var(--hover-1);
}

/* Alinear y dar caracteristicas */

.centro{
    text-align: center;
}

.izquierda{
    text-align: left;
}

.b{
    font-weight: bold;
}

/* Proidedades concretas */

::placeholder{
    color: black;
}

/* Contenedores con grid y eso */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    grid-gap: 1rem;
    margin-inline: 1rem;
}

header{
    display: grid;
    grid-template-columns: 80% 20%;
}

/* Header */

header div a img{
    margin-block: 1.4rem;
    width: 3rem;
}

/* Menu desplegable solamente funciona por la gracia del señor */

.menu-boton{
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.menu-contenido{
    display: none;
    background-color: var(--color-1);
    box-shadow: 0 0 .5rem black;
}

[id|="menu"]:focus ~ .menu-contenido{
    display: block;
    position: absolute;
    z-index: 9;
    transform: translateX(-60%);
}

.menu-contenido ul{
    padding-inline: 1rem;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
}