.miembro{
    display: grid;
    grid-template-columns: 3rem calc(70% - 5rem) 30%;
    grid-gap: 1rem;
    align-items: center;
}

.miembro img{
    width: 100%;
}

.boton-miembro{
    background-color: var(--color-2);
    text-align: center;
    padding-block: .1rem;
    border-radius: 1rem;
}

.boton-miembro:hover{
    background-color: var(--color-1);
}

.grid{
    place-content: center;
}

.contenedor-compartir{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;   
}

.contenedor-compartir a img{
    width: 100%;
}

.contenedor-compartir a:hover{
    background-color: var(--hover-2);
    border-radius: 1rem;
}

.fb{
    display:grid;
    align-items: center;
}

.fb img{
    width: 80% !important;
    margin: auto;
}