header{
    grid-template-columns: 20% calc(60% - 2rem) 20%;
}

.header-producto{
    display: grid;
    grid-template-columns: calc(100% - 2rem) 2rem;
    background-color: var(--color-1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-right: 1rem;
}

.header-producto a img{
    width: 100%;
}

.header-producto a{
    margin-top: 1rem;
}

.contenedor-producto{
    display: grid;
    grid-template-columns: 10% calc(90% - 1rem);
    grid-gap: 1rem;
}

.caja{
    background-color: var(--color-1);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

input[type="checkbox"]:checked + label .caja{
    background-color: var(--color-2);
    background-image: url(../assets/svg/x.svg);
    background-size: 100%;
}

input[type="checkbox"]{
    display: none;
}

.nombre-producto a h2{
    padding: 1rem;
    margin: 0;
}

.producto{
    border-radius: 1rem;
    box-shadow: 0 0 .5rem var(--gray);
}

.contenido-producto{
    padding: 1rem;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.linea{
    margin-top: .5rem;
}

.texto-producto{
    display: flex;
    flex-direction: column;
}

.notas-producto{
    margin-top: .5rem;
    border-radius: 1rem;
    background-color: var(--color-2);
    padding: 1rem;
    text-align: center;
}

.grid{
    grid-column-gap: 2rem;
}

/* color objetos marcados */

input[type="checkbox"]:checked ~ .producto .header-producto{
    background-color: var(--color-2);
}