.grid-personal-data{
    grid-template-columns: minmax(0px, 4000px) minmax(200px, 500px) minmax(0px, 4000px);
}

.grid-personal-data form{
    grid-column: 2;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"], select, button{
    width: calc(100% - 2.5rem);
    color: var(--fuente-texto);
    border: none;
    background-color: var(--input-bg);
    border-radius: 1rem;
    padding: .5rem;
    padding-inline: 1rem;
}

input:focus, select:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--fuente-color);
}

::placeholder{
    color: var(--outline);
}

option:disabled{
    display: none;
}

select{
    width: 56%;
}

.gender:after{
    background-color: gray;
}

.check:hover{
    background-color: var(--gray);
}

.texto-form{
    padding-left: 1rem;
}

label:focus{
    background-color: black;
}

input[type="radio"]{
    margin-left: 1rem;
    margin-right: .5rem;
}

button{
    width: fit-content;
    padding: 1rem;
    padding-inline: 2rem;
}

button:hover{
    background-color: var(--hover);
}