<div class="miembro">
    <img src="assets/images/userIcon.jpg">
    <b>
        Juan Perez
    </b>
    <b class="centro" href="consultarMiembrosyCodigoDeGrupo-administadorDeGrupo.html">
        admin
    </b>
</div>