
    <a style="padding-bottom: .25rem;" href="/miembros">
        <img src="../assets/svg/logo.svg">
        <h3>SuperBear Team</h3>
    </a>
    
    <a style="padding-inline: .25rem;" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2fRL-ZeAlEet9qVGbKKFY_XRgAwHQ15Kgs8R0CvQ-EtUNUs2Sk9GNFVETDVGMVNKQ1BUWEQwS0RDSS4u">
        <b style="grid-column: 2;">
            Soporte tecnico y ayuda
        </b>
    </a>
