<nav>
    <a href="/consultarNoticias-usuario"><b>Noticias</b></a>
    <a href="/Misgrupos"><b>Grupos</b></a>
    <a class="icono" href="/datos-perfil"><img src="https://raw.githubusercontent.com/luisferdev11/SuperBear/4ebc559d836120e5fa50b0f960d41dec8057d265/views/assets/svg/IconoSuperBear.svg"></a>
</nav>