<nav>
    <a href="/admin-consultarNoticias"><b>Noticias</b></a>
    <a href="/check-default-products", auth.isAuthenticated, controller.checkDefaultProducts);
    "><b>Productos</b></a>
    <a class="icono" href="/admin-index"><img src="https://raw.githubusercontent.com/luisferdev11/SuperBear/4ebc559d836120e5fa50b0f960d41dec8057d265/views/assets/svg/casa.svg"></a>
</nav>