<nav>
    <a href="/consultarNoticias-usuario"><b>Noticias</b></a>
    <a href="/Misgrupos"><b>Grupos</b></a>
    <a class="icono" href="/datos-perfil"><img src="assets/svg/iconoSuperBear.svg"></a>
</nav>