<style>
    nav {
        grid-template-columns: 15%;
    }

    nav a img {
        width: 1rem;
        height: 1rem;
    }
</style>

<!-- Lo correcto seria poner todas estas barras de navegacion como componentes
pero zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz -->

<!--
    Es necesario definir una variable ruta para que sepa a donde llevar
    para un ejemplo vease consultar rutinas
-->

<nav class="flecha">
    <a href="<%- ruta %>">
        <img src="assets/svg/flecha.svg">
    </a>
</nav>