<nav>
    <a href="/admin-consultarNoticias"><b>Noticias</b></a>
    <a href="admin-consultarProductosPredeterminados.html"><b>Productos</b></a>
    <a class="icono" href="admin-index.html"><img src="assets/svg/casa.svg"></a>
</nav>