<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="stylesheet" href="../css/datosProducto.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">
    <title>Editar Noticia | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="admin-consultarNoticias.html">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Editar Noticia</h1>
    </div>
    <div class="contenedor-formulario">
        <form action="admin-consultarNoticias.html">
            <p class="seccion">
                Titulo:
            </p>
            <input type="text" name="titulo" placeholder="Titulo" value="<%= noticia[0].tit_not %>">
            <p class="seccion">
                Contenido:
            </p>
            <input type="text" name="contenido" placeholder="Noticia" value="<%= noticia[0].cont_not %>">
            <input type="text" name="id" value="<%= noticia[0].idDNoticias %>" readonly style="display: none;">
            <br>
            <br>
            <div class="contenedor-boton">
                <input class="b" type="submit" value="Guardar">
            </div>
        </form>
    </div>
</body>
</html>