<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="css/datosProducto.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Crear Noticia | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/admin-consultarNoticias">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Crear Noticia</h1>
    </div>
    <div class="contenedor-formulario">
        <form action="/crearNoticia" method="post">
            <p class="seccion">
                Titulo:
            </p>
            <input type="text" name="titulo" placeholder="Titulo">
            <p class="seccion">
                Contenido:
            </p>
            <input type="text" name="contenido" placeholder="Noticia">
            <br>
            <br>
            <div class="contenedor-boton">
                <input class="b" type="submit" value="Crear">
            </div>
        </form>
    </div>
</body>
</html>