<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/admin-index.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Administrador | SuperBear</title>
</head>
<body>
    <%- include('partials/navegacionAdmin') %>
    <br>
    <div class="grid">
        <div class="tarjeta">
            <h3>Listas creadas en la aplicacion</h3>
            <h2 class="centro"><%= numListas %></h2>
        </div>
        <div class="tarjeta">
            <h3>Usuarios registrados en la aplicacion</h3>
            <h2 class="centro"><%= numUsuarios%></h2>
        </div>
        <div class="tarjeta">
            <h3>Grupos creados en la aplicacion</h3>
            <h2 class="centro"><%=numGrupos %></h2>
        </div>
        <a class="b input" href="logout">Cerrar Sesión</a>
    </div>
</body>
</html>