<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/admin-index.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Administrador | SuperBear</title>
</head>
<body>
    <nav>
        <a href="admin-consultarNoticias.html"><b>Noticias</b></a>
        <a href="admin-consultarProductosPredeterminados.html"><b>Productos</b></a>
        <a class="icono" href="admin-index.html"><img src="assets/svg/casa.svg"></a>
    </nav>
    <br>
    <div class="grid">
        <div class="tarjeta">
            <h3>Productos mas solicitados</h3>
            <ol>
                <li>
                    Manzana
                </li>
                <li>
                    Leche
                </li>
                <li>
                    Huevos
                </li>
            </ol>
        </div>
        <div class="tarjeta">
            <h3>Usuarios registrados en la aplicacion</h3>
            <h2 class="centro">20</h2>
        </div>
        <div class="tarjeta">
            <h3>Grupos creados en la aplicacion</h3>
            <h2 class="centro">5</h2>
        </div>
    </div>
</body>
</html>