<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="css/datosProducto.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Agregar Producto | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="consultarProductosDeLista.html">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Agregar Producto</h1>
    </div>
    <div class="contenedor-formulario">
        <form method="POST" id="CrearProForm" name="CrearProForm">
            <p class="seccion">
                Nombre
            </p>
            <input type="text" placeholder="Nombre" id="inputNombre" name="nombre">
            <p class="rojo" id="msgerror1"></p>

            <p class="seccion">
                Marca
            </p>

            <input type="text" placeholder="Marca" id="inputmarca">
            
            <p class="rojo" id="msgerror2"></p>

            <p class="seccion">
                Supermercado
            </p>
            <select name="supermercado">
                <option selected class="no">Departamento</option>
                <option>Frutas y Verduras</option>
                <option>Videojuegos</option>
            </select>
                        <p class="rojo" id="msgerror3"></p>

            <p class="seccion">
                Departamento
            </p>
            <select name="Depa">
                <option selected class="no">Departamento</option>
                <option>Frutas y Verduras</option>
                <option>Videojuegos</option>
            </select>
            <p class="seccion">
                Cantidad
            </p>
            <input type="number" placeholder="Cantidad" id="inputcantidad" name="Cant">
            <p class="rojo" id="msgerror4"></p>

            <p class="seccion">
                Unidad
            </p>
            <select name="Unidad">
                <option selected>Unidades</option>
                <option>Kilogramo</option>
                <option>Litro</option>
            </select>
            <p class="seccion">
                Precio
            </p>
            <input type="number" placeholder="Precio $" id="inputprecio">
            <p class="rojo" id="msgerror5"></p>

            <p class="seccion">
                Anotaciones
            </p>
            <input type="text" placeholder="Anotaciones" id="inputanotaciones">
            <p class="rojo" id="msgerror6"></p>

            <br>
            <br>
            <div class="contenedor-boton">
                <input class="b" type="submit" value='Agregar' onclick="ValidarObjetoLista(event)">
            </div>
        </form>
    </div>
    <br>
    <script src="js/validaciones.js"></script>

</body>
</html>