<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="stylesheet" href="../css/datosProducto.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">
    <title>Agregar Producto Predeterminado | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/ConsultarProductos/<%=id.id_lis%>">
            <img src="../assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Agregar Producto Predeterminado</h1>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Nombre</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < Productos.length; i++) { %>
              <tr>
                <td><%= Productos[i].nom_pro %></td>
                <td>
                  <a href="/ProductoPredeterminado/<%= Productos[i].id_pro %>/<%=id.id_lis%>">Agregar</a>
                </td>
              </tr>
            <% } %>
        </tbody>
      </table>
    <br>
    <script src="../js/detect-browser.js"></script>
    <script src="../js/barraNavegacion.js"></script>
</body>
</html>