<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/grupos.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Mis Grupos | SuperBear</title>
    <style>
        label{
            height: fit-content;
        }
    </style>
</head>
<body>
    <nav>
        <a href="consultarNoticias-usuario.html"><b>Noticias</b></a>
        <a href="consultarGrupos.html"><b>Grupos</b></a>
        <a class="icono" href="/datos-perfil"><img src="assets/images/userIcon.jpg"></a>
    </nav>
    <div class="principal">
        <header>
            <h1>Mis Grupos</h1>
            <div>
                <a href="/nuevogrupo"><img src="assets/svg/plus.svg"></a>
            </div>
        </header>
    </div>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <div class="grid">
        <div class="grupo">
            <div class="nombre-grupo">
                <a href="/consultarlistas">
                    <h1>
                        Pantitlan
                    </h1>
                </a>
                <a href="/miembrosdegrupo">
                    <img src="assets/images/userIcon.jpg">
                    <b>
                        10 miembros
                    </b>
                </a>
                <label for="menu-1">
                    <img class="opciones" src="assets/svg/options.svg">
                    <input id="menu-1" type="checkbox">
                    <div class="desplegable">
                        <a href="editarNombreGrupo-administradorDeGrupo.html" class="b">
                            Renombrar Grupo
                        </a>
                        <a href="consultarGrupos.html" class="b">
                            Borrar Grupo
                        </a>
                    </div>
                </label>
            </div>
            <div class="contenido-grupo">
                <a href="/consultarlistas">
                    <div>
                        <b>Jabones</b>
                    </div>
                    <div>
                        <b>10/15 Completado</b>
                    </div>
                </a>
                <a href="consultarProductosDeLista.html">
                    <div>
                        <b>Carnes frías</b>
                    </div>
                    <div>
                        <b>10/15 Completado</b>
                    </div>
                </a>
            </div>
        </div>
        <div class="grupo">
            <div class="nombre-grupo">
                <a href="consultarListasDeGrupo.html">
                    <h1>
                        Pantitlan
                    </h1>
                </a>
                <a href="/consultarmiembros">
                    <img src="assets/images/userIcon.jpg">
                    <b>
                        10 miembros
                    </b>
                </a>
                <label for="menu-2">
                    <img class="opciones" src="assets/svg/options.svg">
                    <input id="menu-2" type="checkbox">
                    <div class="desplegable">
                        <a href="editarNombreGrupo-administradorDeGrupo.html" class="b">
                            Renombrar Grupo
                        </a>
                        <a href="consultarGrupos.html" class="b">
                            Borrar Grupo
                        </a>
                    </div>
                </label>
            </div>
            <div class="contenido-grupo">
                <a href="consultarProductosDeLista.html">
                    <div>
                        <b>Jabones</b>
                    </div>
                    <div>
                        <b>10/15 Completado</b>
                    </div>
                </a>
                <a href="consultarProductosDeLista.html">
                    <div>
                        <b>Carnes frías</b>
                    </div>
                    <div>
                        <b>10/15 Completado</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>