<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/listas.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Listas de Pantitlan</title>
</head>

<body>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <nav>
        <a href="consultarNoticias-usuario.html"><b>Noticias</b></a>
        <a href="consultarGrupos.html"><b>Grupos</b></a>
        <a class="icono" href="consultarDatosPerfil.html"><img src="assets/images/userIcon.jpg"></a>
    </nav>
    <div class="principal">
        <header>
            <h1>Listas de Pantitlan</h1>
            <div>
                <a href="crearListaDeGrupo.html"><img src="assets/svg/plus.svg"></a>
            </div>
        </header>
    </div>
    <div class="principal">
        <h2>Listas Pendientes</h2>
    </div>
    <div class="grid">
        <div class="lista">
            <div class="nombre-lista">
                <a href="consultarProductosDeLista.html">
                    <h2>
                        Comida
                    </h2>
                </a>
                <label for="menu-1">
                    <img class="opciones" src="assets/svg/options.svg">
                    <input id="menu-1" type="checkbox">
                    <div class="desplegable">
                        <a href="consultarListasDeGrupo.html" class="b">
                            Duplicar Lista
                        </a>
                        <a href="consultarListasDeGrupo.html" class="b">
                            Borrar Lista
                        </a>
                    </div>
                </label>
            </div>
            <a class="contenido-lista" href="consultarProductosDeLista.html">
                <span class="producto">
                    Manzanas
                </span>
                <span class="producto">
                    1kg
                </span>
                <span class="producto">
                    Leche
                </span>
                <span class="producto">
                    1L
                </span>
                <span class="producto">
                    Huevos
                </span>
                <span class="producto">
                    .5kg
                </span>
                <span class="producto">
                    Cereal
                </span>
                <span class="producto">
                    1u
                </span>
            </a>
        </div>
    </div>
        <div class="principal">
            <h2>Listas Completadas</h2>
        </div>
        <div class="grid">

        </div>
        <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>