<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Crear Lista | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="consultarListasDeGrupo.html">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Crear una Lista</h1>
        <div class="contenedor-formulario">
            <form method="POST" id="CrearLisForm" name="CrearLisForm">
                <p class="centro">Escribe el nombre de la nueva lista</p>
                <input type="text" placeholder="Nombre" id="inputNombre" name="nombre">
                <p class="rojo" id="msgerror1"></p>
                <br>
                <br>
                <div class="contenedor-boton">
                    <input class="b" type="submit" value='Crear' onclick="ValidarLista(event)">
                </div>
            </form>
        </div>
    </div>
    <br>
    <script src="js/validaciones.js"></script>

</body>
</html>