<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">

    <title>Error 404 | SuperBear</title>
</head>

<body>
    <nav class="flecha">
        <a href="/">
            <img src="../assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro" class="centro">Error 404,no encontramos lo que buscaba lo sentimos</h1>
        <h1 class="centro">U n U</h1>
        <div align="center"><img src="../assets/images/Error404.png" alt="Error 404" width="40%"></div>

    </div>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>