<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <style>
        iframe{
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 1rem;
        }
        .xd{
            grid-column: 2;
        }
    </style>
    <title>Error UnU | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro" class="centro">Hubo un error, lo sentimos</h1>
        <h1 class="centro">U n U</h1>
    </div>
    <div class="contenedor-formulario">
        <div class="xd">
            <iframe src="https://www.youtube.com/embed/31HfP81oWDI" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <footer>
        <a href="miembros.html">
            <img src="assets/svg/logo.svg">
            <h3>SuperBear Team</h3>
        </a>
    </footer>
</body>
</html>