<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/masterstyle.css">
    <link rel="stylesheet" href="css/gruposYListas.css">
    <link rel="shortcut icon" href="assets/images/icon.jpg">
    <title>Mis Grupos</title>
</head>
<body>
    <nav>
        <a href="noticias.html">Noticias</a>
        <a href="grupos.html">Grupos</a>
        <a href="perfil.html" class="image"><img src="assets/images/icon.jpg"></a>
    </nav>
    <br>
    <div class="container-main">
        <header class="grid-header-gyl">
            <h1 class="left">Mis Grupos</h1>
            <a href="crearGrupo.html">
                <img src="assets/svg/plus.svg">
            </a>
        </header>
    </div>
    <div class="grid-gyl">
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
        <div class="group">
            <h1 class="name">Pantitlán</h1>
            <div class="content">
                <a href="lista.html">
                    <div class="content-content">Comida</div>
                    <div class="content-content">0/10 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Jabones</div>
                    <div class="content-content">15/20 Completado</div>
                </a>
                <a href="lista.html">
                    <div class="content-content">Carnes Frias</div>
                    <div class="content-content">9/10 Completado</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>