<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>SuperBear | Listas de compras compartidas</title>
</head>
<body>
    <nav>
        <a href="/sign-up"><b>Regístrate</b></a>
        <a href="/login"><b>Accede</b></a>
    </nav>
    <div class="principal">
        <h1>
            Realiza tus compras más fácilmente con SuperBear
        </h1>
        <div class="circulo">
            <h1>
                1
            </h1>
        </div>
        <h2>
            Crea un grupo
        </h2>
        <div class="circulo">
            <h1>
                2
            </h1>
        </div>
        <h2>
            Invita miembros a tu grupo
        </h2>
        <div class="circulo">
            <h1>
                3
            </h1>
        </div>
        <h2>
            Creen una lista juntos
        </h2>
        <br>
        <a href="registro.html" class="boton">
            <b>
                Regístrate
            </b>
        </a>
        <br>
        <br>
        <br>
        <a class="iniciarSesion" href="/login">
            Inciar Sesión
        </a>
        <br>
        <br>
    </div>
    <br>
    <footer>
        <a href="miembros.html">
            <img src="assets/svg/logo.svg">
            <h3>SuperBear Team</h3>
        </a>
    </footer>
</body>
</html>