<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="css/nuevoGrupo.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Nuevo Grupo | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="consultarGrupos.html">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
    <p class="rojo"><%=error%></p>

        <div class="grid">
            <div>
                <h2>Ingresar a un Grupo</h2>
                <div class="nuevo-grupo">
                    <h3>Código del grupo</h3>
                    <p>
                        Pidele el código de grupo a un administrador
                    </p>
                    <form method="POST" id="ingresarGrupoForm" name="ingresarGrupoForm">
                        <input type="text" placeholder="Código" id="inputcodigo" name="codigo">
                        <p class="rojo" id="msgerror1"></p>
                        <br>
                        <br>
                        <div class="contenedor-boton">
                            <input class="b" type="submit" value='Unirte' onclick="validarCodigoGrupo(event)">
                        </div>
                    </form>
                    <p class="pequeño">
                        El código debe tener 5 letras o números y no puede contener símbolos.
                    </p>
                </div>
            </div>
            <div>
                <h2>Crear un Grupo</h2>
                <div class="nuevo-grupo">
                    <h3>Nombre del grupo</h3>
                    <form method="post" id="NewGrupoForm" name="NewGrupoForm">
                        <input type="text" placeholder="Nombre" id="inputgrupo" name="nombreGrupo">
                        <p class="rojo" id="msgerror2"></p>

                        <br>
                        <br>
                        <div class="contenedor-boton">
                            <input class="b" type="submit" value='Crear' onclick="validarNombreGrupo(event)">
                        </div>
                    </form>
                    <p class="pequeño">
                        El nombre del grupo podrán verlo los miembros.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/validaciones.js"></script>

</body>
</html>