<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Iniciar Sesión | SuperBear</title>
</head>

<body>
    <nav class="flecha">
        <a href="/">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Iniciar Sesión</h1>
        <div class="contenedor-formulario">
            <form method="POST" id="LoginForm" name="LoginForm">
                <p class="seccion">Correo Electrónico</p>
                <input placeholder="Correo Electrónico" type="email" id="inputemail" name="username">
                <p class="rojo" id="msgerror1"></p>
                <p class="seccion">Contraseña</p>
                <input placeholder="Contraseña" type="password" id="inputContraseña" name="password">
                <br><br>
                <svg class="checkbox-symbol">
                    <symbol id="check" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></polyline>
                    </symbol>
                </svg>
                <input class="checkbox-input" id="showPass" type="checkbox" onclick="showPassword()" />
                <label class="checkbox" for="showPass">
                    <span>
                        <svg width="12px" height="10px">
                            <use xlink:href="#check"></use>
                        </svg>
                    </span>
                    <span>Mostrar contraseña</span>
                </label>
                <p class="rojo" id="msgerror2"></p>

                <br><br>
                <div class="contenedor-boton">
                    <input class="b" type="submit" value='Acceder' onclick="ValidarLogin(event)">
                    <!--onclick="ValidarLogin(event)"-->
                </div>
                <p>¿No tienes una cuenta?
                    <a href="/sign-up"><b>
                            Regístrate
                        </b></a>
                </p>
            </form>
        </div>
    </div>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script>function showPassword() {
            var x = document.getElementById("inputContraseña");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }</script>
    <script src="js/validaciones.js"></script>

</body>

</html>