<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Crea una cuenta | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Regístrate</h1>
        <div class="contenedor-formulario">
            <form method="POST" id="registroForm" name="registroForm">
                <b>Datos Personales</b>
                <p class="seccion">Correo Electrónico</p>
                <input placeholder="Correo Electrónico" type="email" id="inputemail" name="email">
                <p class="rojo" id="msgerror1"></p>

                <p class="seccion">Nombre</p>
                <input placeholder="Nombre" type="text" id="inputNombre" name="nombre">
                <p class="rojo" id="msgerror2"></p>

                <p class="seccion">Contraseña</p>
                <input placeholder="Contraseña" type="password" id="inputContraseña1" name="Password1">

                <p class="seccion">Confirmar Contraseña</p>
                <input placeholder="Contraseña" type="password" id="inputContraseña2" name="Password2">
                <p class="rojo" id="msgerror3"></p>

                <p class="seccion">Fecha de Nacimiento</p>
                <input type="date" id="inputdate" name="fecha">
                <p class="rojo" id="msgerror4"></p>

                <p class="seccion">Alcaldía</p>
                <select name="SelectAlcaldia">
                    <option class="no" disabled selected>Alcaldía</option>
                    <option value=1>Álvaro Obregón</option>
                    <option value=2>Azcapotzalco</option>
                    <option value=3>Benito Juárez</option>
                    <option value=4>Coyoacán</option>
                    <option value=5>Cuajimalpa de Morelos</option>
                    <option value=6>Cuauhtémoc</option>
                    <option value=7>Gustavo A. Madero</option>
                    <option value=8>Iztacalco</option>
                    <option value=9>Iztapalapa</option>
                    <option value=10>Magdalena Contreras</option>
                    <option value=11>Miguel Hidalgo</option>
                    <option value=12>Milpa Alta</option>
                    <option value=13>Tláhuac</option>
                    <option value=14>Tlalpan</option>
                    <option value=15>Venustiano Carranza</option>
                    <option value=16>Xochimilco</option>
                </select>
                <p class="rojo" id="msgerror5"></p>

                <p>Género</p>
                <br>
                <div>
                    <input type="radio" id="masculino" name="genero" value=1>
                    <label for="masculino">Masculino</label>
                </div>
                <br>
                <br>
                <div>
                    <input type="radio" id="femenino" name="genero" value=2>
                    <label for="femenino">Femenino</label>
                </div>
                <br>
                <br>
                <div>
                    <input checked type="radio" id="otro" name="genero" value=3>
                    <label for="otro">Otro</label>
                </div>
                <br>
                <br>
                <input type="checkbox" id="aviso">
                He leído y acepto el 
                <a href="/avisodeprivacidad">
                    <b>
                        Aviso de Privacidad
                    </b>
                </a>
                <p class="rojo" id="msgerror6"></p>

                <br>
                <br>
                <div class="contenedor-boton">
                    <input class="b" type="submit" value='Envíar' onclick="ValidarRegistro(event)">
                    <p class="rojo"><%=error%></p>
                </div>
            </form>
        </div>
    </div>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="js/validaciones.js"></script>

</body>
</html>