<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <link rel="icon" type="image/png" href="assets/img/favicon/32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="assets/img/favicon/favicon192.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <title>Verificar Contraseña | SuperBear</title>
</head>
<body>
    <header class="main_haeder header-sticky multi_item">
        <div class="em_side_right">
            <a class="rounded-circle d-flex align-items-center text-decoration-none" href="/datos-perfil">
                <i class="tio-chevron_left size-24 color-text"></i>
                <span class="color-text size-14">Regresar</span>
            </a>
        </div>
        <div class="title_page">
            <span class="page_name">
                Verfícate</span>
        </div>
        
    </header>
    <section class="em_loading" id="loaderPage">
        <div class="spinner_flash"></div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="form-group padding-20">
            <form action="verificarpswd" method="post">
                <p class="centro">Para continuar verifica que eres tú</p>
                <p class="seccion">Contraseña</p>
                <input class="form-control" type="password" placeholder="Contraseña" name="pswd">
                <br>
                <br>
                
                    <button class="btn bg-yellow rounded-10 btn__default ml-3" type="submit">Continuar</button>
            </form>
        </div>
    <script src="assets/js/jquery-3.6.0.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/vendor/owl.carousel.min.js"></script>
        <script src="assets/js/vendor/swiper-bundle.min.js"></script>
        <script src="assets/js/vendor/sharer.js"></script>
        <script src="assets/js/vendor/short-and-sweet.min.js"></script>
        <script src="assets/js/vendor/jquery.knob.min.js"></script>
        <script src="assets/js/main.js" defer></script>
        <script src="assets/js/pwa-services.js"></script>
        <script src="../js/detect-browser.js"></script>
        <script src="../js/barraNavegacion.js"></script>
        <script src="../js/validaciones.js"></script>
</body>
</html>