<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Verificar Contraseña | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/datos-perfil">
            <img src="assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Verfícate</h1>
        <div class="contenedor-formulario">
            <form action="verificarpswd" method="post">
                <p class="centro">Para continuar verifica que eres tú</p>
                <p class="seccion">Contraseña</p>
                <input type="password" placeholder="Contraseña" name="pswd">
                <br>
                <br>
                <div class="contenedor-boton">
                    <input class="b" type="submit" value='Continuar'>
                </div>
            </form>
        </div>
    </div>
</body>
</html>