.principal{
    text-align: center;
}

nav{
    grid-template-columns: 50% 50%;
}

.circulo{
    background-color: var(--color-1);
    display: grid;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin: auto;
}

.circulo h1{
    color: var(--color-4);
}

.boton{
    background-color: var(--color-1);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

.boton:hover{
    background-color: var(--hover-2);
}

.iniciarSesion{
    text-decoration: underline;
}