/* ============
Padding margin All Screens
==============*/
.padding-0 {
  padding: 0;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.padding-40 {
  padding: 40px;
}
.padding-50 {
  padding: 50px;
}
.padding-60 {
  padding: 60px;
}
.padding-70 {
  padding: 70px;
}
.padding-80 {
  padding: 80px;
}
.padding-90 {
  padding: 90px;
}
.padding-100 {
  padding: 100px;
}

// margin

.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-30 {
  margin: 30px;
}
.margin-40 {
  margin: 40px;
}
.margin-50 {
  margin: 50px;
}
.margin-60 {
  margin: 60px;
}
.margin-70 {
  margin: 70px;
}
.margin-80 {
  margin: 80px;
}
.margin-90 {
  margin: 90px;
}
.margin-100 {
  margin: 100px;
}

/* ============
Padding margin Small (sm)
==============*/
.padding-sm-0 {
  @include minSmall {
    padding: 0;
  }
}
.padding-sm-10 {
  @include minSmall {
    padding: 10px;
  }
}
.padding-sm-20 {
  @include minSmall {
    padding: 20px;
  }
}
.padding-sm-30 {
  @include minSmall {
    padding: 30px;
  }
}
.padding-sm-40 {
  @include minSmall {
    padding: 40px;
  }
}
.padding-sm-50 {
  @include minSmall {
    padding: 50px;
  }
}
.padding-sm-60 {
  @include minSmall {
    padding: 60px;
  }
}
.padding-sm-70 {
  @include minSmall {
    padding: 70px;
  }
}
.padding-sm-80 {
  @include minSmall {
    padding: 80px;
  }
}
.padding-sm-90 {
  @include minSmall {
    padding: 90px;
  }
}
.padding-sm-100 {
  @include minSmall {
    padding: 100px;
  }
}

// margin

.margin-sm-0 {
  @include minSmall {
    margin: 0;
  }
}
.margin-sm-10 {
  @include minSmall {
    margin: 10px;
  }
}
.margin-sm-20 {
  @include minSmall {
    margin: 20px;
  }
}
.margin-sm-30 {
  @include minSmall {
    margin: 30px;
  }
}
.margin-sm-40 {
  @include minSmall {
    margin: 40px;
  }
}
.margin-sm-50 {
  @include minSmall {
    margin: 50px;
  }
}
.margin-sm-60 {
  @include minSmall {
    margin: 60px;
  }
}
.margin-sm-70 {
  @include minSmall {
    margin: 70px;
  }
}
.margin-sm-80 {
  @include minSmall {
    margin: 80px;
  }
}
.margin-sm-90 {
  @include minSmall {
    margin: 90px;
  }
}
.margin-sm-100 {
  @include minSmall {
    margin: 100px;
  }
}

/* ============
Padding margin Medium (md)
==============*/
.padding-md-0 {
  @include minMedium {
    padding: 0;
  }
}
.padding-md-10 {
  @include minMedium {
    padding: 10px;
  }
}
.padding-md-20 {
  @include minMedium {
    padding: 20px;
  }
}
.padding-md-30 {
  @include minMedium {
    padding: 30px;
  }
}
.padding-md-40 {
  @include minMedium {
    padding: 40px;
  }
}
.padding-md-50 {
  @include minMedium {
    padding: 50px;
  }
}
.padding-md-60 {
  @include minMedium {
    padding: 60px;
  }
}
.padding-md-70 {
  @include minMedium {
    padding: 70px;
  }
}
.padding-md-80 {
  @include minMedium {
    padding: 80px;
  }
}
.padding-md-90 {
  @include minMedium {
    padding: 90px;
  }
}
.padding-md-100 {
  @include minMedium {
    padding: 100px;
  }
}

// margin

.margin-md-0 {
  @include minMedium {
    margin: 0;
  }
}
.margin-md-10 {
  @include minMedium {
    margin: 10px;
  }
}
.margin-md-20 {
  @include minMedium {
    margin: 20px;
  }
}
.margin-md-30 {
  @include minMedium {
    margin: 30px;
  }
}
.margin-md-40 {
  @include minMedium {
    margin: 40px;
  }
}
.margin-md-50 {
  @include minMedium {
    margin: 50px;
  }
}
.margin-md-60 {
  @include minMedium {
    margin: 60px;
  }
}
.margin-md-70 {
  @include minMedium {
    margin: 70px;
  }
}
.margin-md-80 {
  @include minMedium {
    margin: 80px;
  }
}
.margin-md-90 {
  @include minMedium {
    margin: 90px;
  }
}
.margin-md-100 {
  @include minMedium {
    margin: 100px;
  }
}

/* ============
Padding margin Large (lg)
==============*/
.padding-lg-0 {
  @include minLarge {
    padding: 0;
  }
}
.padding-lg-10 {
  @include minLarge {
    padding: 10px;
  }
}
.padding-lg-20 {
  @include minLarge {
    padding: 20px;
  }
}
.padding-lg-30 {
  @include minLarge {
    padding: 30px;
  }
}
.padding-lg-40 {
  @include minLarge {
    padding: 40px;
  }
}
.padding-lg-50 {
  @include minLarge {
    padding: 50px;
  }
}
.padding-lg-60 {
  @include minLarge {
    padding: 60px;
  }
}
.padding-lg-70 {
  @include minLarge {
    padding: 70px;
  }
}
.padding-lg-80 {
  @include minLarge {
    padding: 80px;
  }
}
.padding-lg-90 {
  @include minLarge {
    padding: 90px;
  }
}
.padding-lg-100 {
  @include minLarge {
    padding: 100px;
  }
}

// margin

.margin-lg-0 {
  @include minLarge {
    margin: 0;
  }
}
.margin-lg-10 {
  @include minLarge {
    margin: 10px;
  }
}
.margin-lg-20 {
  @include minLarge {
    margin: 20px;
  }
}
.margin-lg-30 {
  @include minLarge {
    margin: 30px;
  }
}
.margin-lg-40 {
  @include minLarge {
    margin: 40px;
  }
}
.margin-lg-50 {
  @include minLarge {
    margin: 50px;
  }
}
.margin-lg-60 {
  @include minLarge {
    margin: 60px;
  }
}
.margin-lg-70 {
  @include minLarge {
    margin: 70px;
  }
}
.margin-lg-80 {
  @include minLarge {
    margin: 80px;
  }
}
.margin-lg-90 {
  @include minLarge {
    margin: 90px;
  }
}
.margin-lg-100 {
  @include minLarge {
    margin: 100px;
  }
}

//============
//============

/* ============
padding, margin Top All Screens
==============*/
.padding-t-0 {
  padding-top: 0;
}
.padding-t-10 {
  padding-top: 10px;
}
.padding-t-20 {
  padding-top: 20px;
}
.padding-t-30 {
  padding-top: 30px;
}
.padding-t-40 {
  padding-top: 40px;
}
.padding-t-50 {
  padding-top: 50px;
}
.padding-t-60 {
  padding-top: 60px;
}
.padding-t-70 {
  padding-top: 70px;
}
.padding-t-80 {
  padding-top: 80px;
}
.padding-t-90 {
  padding-top: 90px;
}
.padding-t-100 {
  padding-top: 100px;
}

// margin

.margin-t-0 {
  margin-top: 0;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-40 {
  margin-top: 40px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-t-60 {
  margin-top: 60px;
}
.margin-t-70 {
  margin-top: 70px;
}
.margin-t-80 {
  margin-top: 80px;
}
.margin-t-90 {
  margin-top: 90px;
}
.margin-t-100 {
  margin-top: 100px;
}

/* ============
padding, margin Small (sm)
==============*/
.padding-t-sm-0 {
  @include minSmall {
    padding-top: 0;
  }
}
.padding-t-sm-10 {
  @include minSmall {
    padding-top: 10px;
  }
}
.padding-t-sm-20 {
  @include minSmall {
    padding-top: 20px;
  }
}
.padding-t-sm-30 {
  @include minSmall {
    padding-top: 30px;
  }
}
.padding-t-sm-40 {
  @include minSmall {
    padding-top: 40px;
  }
}
.padding-t-sm-50 {
  @include minSmall {
    padding-top: 50px;
  }
}
.padding-t-sm-60 {
  @include minSmall {
    padding-top: 60px;
  }
}
.padding-t-sm-70 {
  @include minSmall {
    padding-top: 70px;
  }
}
.padding-t-sm-80 {
  @include minSmall {
    padding-top: 80px;
  }
}
.padding-t-sm-90 {
  @include minSmall {
    padding-top: 90px;
  }
}
.padding-t-sm-100 {
  @include minSmall {
    padding-top: 100px;
  }
}

// margin

.margin-t-sm-0 {
  @include minSmall {
    margin-top: 0;
  }
}
.margin-t-sm-10 {
  @include minSmall {
    margin-top: 10px;
  }
}
.margin-t-sm-20 {
  @include minSmall {
    margin-top: 20px;
  }
}
.margin-t-sm-30 {
  @include minSmall {
    margin-top: 30px;
  }
}
.margin-t-sm-40 {
  @include minSmall {
    margin-top: 40px;
  }
}
.margin-t-sm-50 {
  @include minSmall {
    margin-top: 50px;
  }
}
.margin-t-sm-60 {
  @include minSmall {
    margin-top: 60px;
  }
}
.margin-t-sm-70 {
  @include minSmall {
    margin-top: 70px;
  }
}
.margin-t-sm-80 {
  @include minSmall {
    margin-top: 80px;
  }
}
.margin-t-sm-90 {
  @include minSmall {
    margin-top: 90px;
  }
}
.margin-t-sm-100 {
  @include minSmall {
    margin-top: 100px;
  }
}

/* ============
padding, margin Medium (md)
==============*/
.padding-t-md-0 {
  @include minMedium {
    padding-top: 0;
  }
}
.padding-t-md-10 {
  @include minMedium {
    padding-top: 10px;
  }
}
.padding-t-md-20 {
  @include minMedium {
    padding-top: 20px;
  }
}
.padding-t-md-30 {
  @include minMedium {
    padding-top: 30px;
  }
}
.padding-t-md-40 {
  @include minMedium {
    padding-top: 40px;
  }
}
.padding-t-md-50 {
  @include minMedium {
    padding-top: 50px;
  }
}
.padding-t-md-60 {
  @include minMedium {
    padding-top: 60px;
  }
}
.padding-t-md-70 {
  @include minMedium {
    padding-top: 70px;
  }
}
.padding-t-md-80 {
  @include minMedium {
    padding-top: 80px;
  }
}
.padding-t-md-90 {
  @include minMedium {
    padding-top: 90px;
  }
}
.padding-t-md-100 {
  @include minMedium {
    padding-top: 100px;
  }
}

// margin

.margin-t-md-0 {
  @include minMedium {
    margin-top: 0;
  }
}
.margin-t-md-10 {
  @include minMedium {
    margin-top: 10px;
  }
}
.margin-t-md-20 {
  @include minMedium {
    margin-top: 20px;
  }
}
.margin-t-md-30 {
  @include minMedium {
    margin-top: 30px;
  }
}
.margin-t-md-40 {
  @include minMedium {
    margin-top: 40px;
  }
}
.margin-t-md-50 {
  @include minMedium {
    margin-top: 50px;
  }
}
.margin-t-md-60 {
  @include minMedium {
    margin-top: 60px;
  }
}
.margin-t-md-70 {
  @include minMedium {
    margin-top: 70px;
  }
}
.margin-t-md-80 {
  @include minMedium {
    margin-top: 80px;
  }
}
.margin-t-md-90 {
  @include minMedium {
    margin-top: 90px;
  }
}
.margin-t-md-100 {
  @include minMedium {
    margin-top: 100px;
  }
}

/* ============
padding, margin Large (md)
==============*/
.padding-t-lg-0 {
  @include minLarge {
    padding-top: 0;
  }
}
.padding-t-lg-10 {
  @include minLarge {
    padding-top: 10px;
  }
}
.padding-t-lg-20 {
  @include minLarge {
    padding-top: 20px;
  }
}
.padding-t-lg-30 {
  @include minLarge {
    padding-top: 30px;
  }
}
.padding-t-lg-40 {
  @include minLarge {
    padding-top: 40px;
  }
}
.padding-t-lg-50 {
  @include minLarge {
    padding-top: 50px;
  }
}
.padding-t-lg-60 {
  @include minLarge {
    padding-top: 60px;
  }
}
.padding-t-lg-70 {
  @include minLarge {
    padding-top: 70px;
  }
}
.padding-t-lg-80 {
  @include minLarge {
    padding-top: 80px;
  }
}
.padding-t-lg-90 {
  @include minLarge {
    padding-top: 90px;
  }
}
.padding-t-lg-100 {
  @include minLarge {
    padding-top: 100px;
  }
}

// margin

.margin-t-lg-0 {
  @include minLarge {
    margin-top: 0;
  }
}
.margin-t-lg-10 {
  @include minLarge {
    margin-top: 10px;
  }
}
.margin-t-lg-20 {
  @include minLarge {
    margin-top: 20px;
  }
}
.margin-t-lg-30 {
  @include minLarge {
    margin-top: 30px;
  }
}
.margin-t-lg-40 {
  @include minLarge {
    margin-top: 40px;
  }
}
.margin-t-lg-50 {
  @include minLarge {
    margin-top: 50px;
  }
}
.margin-t-lg-60 {
  @include minLarge {
    margin-top: 60px;
  }
}
.margin-t-lg-70 {
  @include minLarge {
    margin-top: 70px;
  }
}
.margin-t-lg-80 {
  @include minLarge {
    margin-top: 80px;
  }
}
.margin-t-lg-90 {
  @include minLarge {
    margin-top: 90px;
  }
}
.margin-t-lg-100 {
  @include minLarge {
    margin-top: 100px;
  }
}

//============
//============

/* ============
padding, margin Bottom All Screens
==============*/
.padding-b-0 {
  padding-bottom: 0;
}
.padding-b-10 {
  padding-bottom: 10px;
}
.padding-b-20 {
  padding-bottom: 20px;
}
.padding-b-30 {
  padding-bottom: 30px;
}
.padding-b-40 {
  padding-bottom: 40px;
}
.padding-b-50 {
  padding-bottom: 50px;
}
.padding-b-60 {
  padding-bottom: 60px;
}
.padding-b-70 {
  padding-bottom: 70px;
}
.padding-b-80 {
  padding-bottom: 80px;
}
.padding-b-90 {
  padding-bottom: 90px;
}
.padding-b-100 {
  padding-bottom: 100px;
}

// margin

.margin-b-0 {
  margin-bottom: 0;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-30 {
  margin-bottom: 30px;
}
.margin-b-40 {
  margin-bottom: 40px;
}
.margin-b-50 {
  margin-bottom: 50px;
}
.margin-b-60 {
  margin-bottom: 60px;
}
.margin-b-70 {
  margin-bottom: 70px;
}
.margin-b-80 {
  margin-bottom: 80px;
}
.margin-b-90 {
  margin-bottom: 90px;
}
.margin-b-100 {
  margin-bottom: 100px;
}

/* ============
  padding, margin Small (sm)
  ==============*/
.padding-b-sm-0 {
  @include minSmall {
    padding-bottom: 0;
  }
}
.padding-b-sm-10 {
  @include minSmall {
    padding-bottom: 10px;
  }
}
.padding-b-sm-20 {
  @include minSmall {
    padding-bottom: 20px;
  }
}
.padding-b-sm-30 {
  @include minSmall {
    padding-bottom: 30px;
  }
}
.padding-b-sm-40 {
  @include minSmall {
    padding-bottom: 40px;
  }
}
.padding-b-sm-50 {
  @include minSmall {
    padding-bottom: 50px;
  }
}
.padding-b-sm-60 {
  @include minSmall {
    padding-bottom: 60px;
  }
}
.padding-b-sm-70 {
  @include minSmall {
    padding-bottom: 70px;
  }
}
.padding-b-sm-80 {
  @include minSmall {
    padding-bottom: 80px;
  }
}
.padding-b-sm-90 {
  @include minSmall {
    padding-bottom: 90px;
  }
}
.padding-b-sm-100 {
  @include minSmall {
    padding-bottom: 100px;
  }
}

// margin

.margin-b-sm-0 {
  @include minSmall {
    margin-bottom: 0;
  }
}
.margin-b-sm-10 {
  @include minSmall {
    margin-bottom: 10px;
  }
}
.margin-b-sm-20 {
  @include minSmall {
    margin-bottom: 20px;
  }
}
.margin-b-sm-30 {
  @include minSmall {
    margin-bottom: 30px;
  }
}
.margin-b-sm-40 {
  @include minSmall {
    margin-bottom: 40px;
  }
}
.margin-b-sm-50 {
  @include minSmall {
    margin-bottom: 50px;
  }
}
.margin-b-sm-60 {
  @include minSmall {
    margin-bottom: 60px;
  }
}
.margin-b-sm-70 {
  @include minSmall {
    margin-bottom: 70px;
  }
}
.margin-b-sm-80 {
  @include minSmall {
    margin-bottom: 80px;
  }
}
.margin-b-sm-90 {
  @include minSmall {
    margin-bottom: 90px;
  }
}
.margin-b-sm-100 {
  @include minSmall {
    margin-bottom: 100px;
  }
}

/* ============
  padding, margin Medium (md)
  ==============*/
.padding-b-md-0 {
  @include minMedium {
    padding-bottom: 0;
  }
}
.padding-b-md-10 {
  @include minMedium {
    padding-bottom: 10px;
  }
}
.padding-b-md-20 {
  @include minMedium {
    padding-bottom: 20px;
  }
}
.padding-b-md-30 {
  @include minMedium {
    padding-bottom: 30px;
  }
}
.padding-b-md-40 {
  @include minMedium {
    padding-bottom: 40px;
  }
}
.padding-b-md-50 {
  @include minMedium {
    padding-bottom: 50px;
  }
}
.padding-b-md-60 {
  @include minMedium {
    padding-bottom: 60px;
  }
}
.padding-b-md-70 {
  @include minMedium {
    padding-bottom: 70px;
  }
}
.padding-b-md-80 {
  @include minMedium {
    padding-bottom: 80px;
  }
}
.padding-b-md-90 {
  @include minMedium {
    padding-bottom: 90px;
  }
}
.padding-b-md-100 {
  @include minMedium {
    padding-bottom: 100px;
  }
}

// margin

.margin-b-md-0 {
  @include minMedium {
    margin-bottom: 0;
  }
}
.margin-b-md-10 {
  @include minMedium {
    margin-bottom: 10px;
  }
}
.margin-b-md-20 {
  @include minMedium {
    margin-bottom: 20px;
  }
}
.margin-b-md-30 {
  @include minMedium {
    margin-bottom: 30px;
  }
}
.margin-b-md-40 {
  @include minMedium {
    margin-bottom: 40px;
  }
}
.margin-b-md-50 {
  @include minMedium {
    margin-bottom: 50px;
  }
}
.margin-b-md-60 {
  @include minMedium {
    margin-bottom: 60px;
  }
}
.margin-b-md-70 {
  @include minMedium {
    margin-bottom: 70px;
  }
}
.margin-b-md-80 {
  @include minMedium {
    margin-bottom: 80px;
  }
}
.margin-b-md-90 {
  @include minMedium {
    margin-bottom: 90px;
  }
}
.margin-b-md-100 {
  @include minMedium {
    margin-bottom: 100px;
  }
}

/* ============
  padding, margin Large (md)
  ==============*/
.padding-b-lg-0 {
  @include minLarge {
    padding-bottom: 0;
  }
}
.padding-b-lg-10 {
  @include minLarge {
    padding-bottom: 10px;
  }
}
.padding-b-lg-20 {
  @include minLarge {
    padding-bottom: 20px;
  }
}
.padding-b-lg-30 {
  @include minLarge {
    padding-bottom: 30px;
  }
}
.padding-b-lg-40 {
  @include minLarge {
    padding-bottom: 40px;
  }
}
.padding-b-lg-50 {
  @include minLarge {
    padding-bottom: 50px;
  }
}
.padding-b-lg-60 {
  @include minLarge {
    padding-bottom: 60px;
  }
}
.padding-b-lg-70 {
  @include minLarge {
    padding-bottom: 70px;
  }
}
.padding-b-lg-80 {
  @include minLarge {
    padding-bottom: 80px;
  }
}
.padding-b-lg-90 {
  @include minLarge {
    padding-bottom: 90px;
  }
}
.padding-b-lg-100 {
  @include minLarge {
    padding-bottom: 100px;
  }
}

// margin

.margin-b-lg-0 {
  @include minLarge {
    margin-bottom: 0;
  }
}
.margin-b-lg-10 {
  @include minLarge {
    margin-bottom: 10px;
  }
}
.margin-b-lg-20 {
  @include minLarge {
    margin-bottom: 20px;
  }
}
.margin-b-lg-30 {
  @include minLarge {
    margin-bottom: 30px;
  }
}
.margin-b-lg-40 {
  @include minLarge {
    margin-bottom: 40px;
  }
}
.margin-b-lg-50 {
  @include minLarge {
    margin-bottom: 50px;
  }
}
.margin-b-lg-60 {
  @include minLarge {
    margin-bottom: 60px;
  }
}
.margin-b-lg-70 {
  @include minLarge {
    margin-bottom: 70px;
  }
}
.margin-b-lg-80 {
  @include minLarge {
    margin-bottom: 80px;
  }
}
.margin-b-lg-90 {
  @include minLarge {
    margin-bottom: 90px;
  }
}
.margin-b-lg-100 {
  @include minLarge {
    margin-bottom: 100px;
  }
}

//============
//============

/* ============
padding, margin Right All Screens
==============*/
.padding-r-0 {
  padding-right: 0;
}
.padding-r-10 {
  padding-right: 10px;
}
.padding-r-20 {
  padding-right: 20px;
}
.padding-r-30 {
  padding-right: 30px;
}
.padding-r-40 {
  padding-right: 40px;
}
.padding-r-50 {
  padding-right: 50px;
}
.padding-r-60 {
  padding-right: 60px;
}
.padding-r-70 {
  padding-right: 70px;
}
.padding-r-80 {
  padding-right: 80px;
}
.padding-r-90 {
  padding-right: 90px;
}
.padding-r-100 {
  padding-right: 100px;
}

// margin

.margin-r-0 {
  margin-right: 0;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-r-20 {
  margin-right: 20px;
}
.margin-r-30 {
  margin-right: 30px;
}
.margin-r-40 {
  margin-right: 40px;
}
.margin-r-50 {
  margin-right: 50px;
}
.margin-r-60 {
  margin-right: 60px;
}
.margin-r-70 {
  margin-right: 70px;
}
.margin-r-80 {
  margin-right: 80px;
}
.margin-r-90 {
  margin-right: 90px;
}
.margin-r-100 {
  margin-right: 100px;
}

/* ============
    padding, margin Small (sm)
    ==============*/
.padding-r-sm-0 {
  @include minSmall {
    padding-right: 0;
  }
}
.padding-r-sm-10 {
  @include minSmall {
    padding-right: 10px;
  }
}
.padding-r-sm-20 {
  @include minSmall {
    padding-right: 20px;
  }
}
.padding-r-sm-30 {
  @include minSmall {
    padding-right: 30px;
  }
}
.padding-r-sm-40 {
  @include minSmall {
    padding-right: 40px;
  }
}
.padding-r-sm-50 {
  @include minSmall {
    padding-right: 50px;
  }
}
.padding-r-sm-60 {
  @include minSmall {
    padding-right: 60px;
  }
}
.padding-r-sm-70 {
  @include minSmall {
    padding-right: 70px;
  }
}
.padding-r-sm-80 {
  @include minSmall {
    padding-right: 80px;
  }
}
.padding-r-sm-90 {
  @include minSmall {
    padding-right: 90px;
  }
}
.padding-r-sm-100 {
  @include minSmall {
    padding-right: 100px;
  }
}

// margin

.margin-r-sm-0 {
  @include minSmall {
    margin-right: 0;
  }
}
.margin-r-sm-10 {
  @include minSmall {
    margin-right: 10px;
  }
}
.margin-r-sm-20 {
  @include minSmall {
    margin-right: 20px;
  }
}
.margin-r-sm-30 {
  @include minSmall {
    margin-right: 30px;
  }
}
.margin-r-sm-40 {
  @include minSmall {
    margin-right: 40px;
  }
}
.margin-r-sm-50 {
  @include minSmall {
    margin-right: 50px;
  }
}
.margin-r-sm-60 {
  @include minSmall {
    margin-right: 60px;
  }
}
.margin-r-sm-70 {
  @include minSmall {
    margin-right: 70px;
  }
}
.margin-r-sm-80 {
  @include minSmall {
    margin-right: 80px;
  }
}
.margin-r-sm-90 {
  @include minSmall {
    margin-right: 90px;
  }
}
.margin-r-sm-100 {
  @include minSmall {
    margin-right: 100px;
  }
}

/* ============
    padding, margin Medium (md)
    ==============*/
.padding-r-md-0 {
  @include minMedium {
    padding-right: 0;
  }
}
.padding-r-md-10 {
  @include minMedium {
    padding-right: 10px;
  }
}
.padding-r-md-20 {
  @include minMedium {
    padding-right: 20px;
  }
}
.padding-r-md-30 {
  @include minMedium {
    padding-right: 30px;
  }
}
.padding-r-md-40 {
  @include minMedium {
    padding-right: 40px;
  }
}
.padding-r-md-50 {
  @include minMedium {
    padding-right: 50px;
  }
}
.padding-r-md-60 {
  @include minMedium {
    padding-right: 60px;
  }
}
.padding-r-md-70 {
  @include minMedium {
    padding-right: 70px;
  }
}
.padding-r-md-80 {
  @include minMedium {
    padding-right: 80px;
  }
}
.padding-r-md-90 {
  @include minMedium {
    padding-right: 90px;
  }
}
.padding-r-md-100 {
  @include minMedium {
    padding-right: 100px;
  }
}

// margin

.margin-r-md-0 {
  @include minMedium {
    margin-right: 0;
  }
}
.margin-r-md-10 {
  @include minMedium {
    margin-right: 10px;
  }
}
.margin-r-md-20 {
  @include minMedium {
    margin-right: 20px;
  }
}
.margin-r-md-30 {
  @include minMedium {
    margin-right: 30px;
  }
}
.margin-r-md-40 {
  @include minMedium {
    margin-right: 40px;
  }
}
.margin-r-md-50 {
  @include minMedium {
    margin-right: 50px;
  }
}
.margin-r-md-60 {
  @include minMedium {
    margin-right: 60px;
  }
}
.margin-r-md-70 {
  @include minMedium {
    margin-right: 70px;
  }
}
.margin-r-md-80 {
  @include minMedium {
    margin-right: 80px;
  }
}
.margin-r-md-90 {
  @include minMedium {
    margin-right: 90px;
  }
}
.margin-r-md-100 {
  @include minMedium {
    margin-right: 100px;
  }
}

/* ============
    padding, margin Large (md)
    ==============*/
.padding-r-lg-0 {
  @include minLarge {
    padding-right: 0;
  }
}
.padding-r-lg-10 {
  @include minLarge {
    padding-right: 10px;
  }
}
.padding-r-lg-20 {
  @include minLarge {
    padding-right: 20px;
  }
}
.padding-r-lg-30 {
  @include minLarge {
    padding-right: 30px;
  }
}
.padding-r-lg-40 {
  @include minLarge {
    padding-right: 40px;
  }
}
.padding-r-lg-50 {
  @include minLarge {
    padding-right: 50px;
  }
}
.padding-r-lg-60 {
  @include minLarge {
    padding-right: 60px;
  }
}
.padding-r-lg-70 {
  @include minLarge {
    padding-right: 70px;
  }
}
.padding-r-lg-80 {
  @include minLarge {
    padding-right: 80px;
  }
}
.padding-r-lg-90 {
  @include minLarge {
    padding-right: 90px;
  }
}
.padding-r-lg-100 {
  @include minLarge {
    padding-right: 100px;
  }
}

// margin

.margin-r-lg-0 {
  @include minLarge {
    margin-right: 0;
  }
}
.margin-r-lg-10 {
  @include minLarge {
    margin-right: 10px;
  }
}
.margin-r-lg-20 {
  @include minLarge {
    margin-right: 20px;
  }
}
.margin-r-lg-30 {
  @include minLarge {
    margin-right: 30px;
  }
}
.margin-r-lg-40 {
  @include minLarge {
    margin-right: 40px;
  }
}
.margin-r-lg-50 {
  @include minLarge {
    margin-right: 50px;
  }
}
.margin-r-lg-60 {
  @include minLarge {
    margin-right: 60px;
  }
}
.margin-r-lg-70 {
  @include minLarge {
    margin-right: 70px;
  }
}
.margin-r-lg-80 {
  @include minLarge {
    margin-right: 80px;
  }
}
.margin-r-lg-90 {
  @include minLarge {
    margin-right: 90px;
  }
}
.margin-r-lg-100 {
  @include minLarge {
    margin-right: 100px;
  }
}

//============
//============

/* ============
padding, margin Left All Screens
==============*/
.padding-l-0 {
  padding-left: 0;
}
.padding-l-10 {
  padding-left: 10px;
}
.padding-l-20 {
  padding-left: 20px;
}
.padding-l-30 {
  padding-left: 30px;
}
.padding-l-40 {
  padding-left: 40px;
}
.padding-l-50 {
  padding-left: 50px;
}
.padding-l-60 {
  padding-left: 60px;
}
.padding-l-70 {
  padding-left: 70px;
}
.padding-l-80 {
  padding-left: 80px;
}
.padding-l-90 {
  padding-left: 90px;
}
.padding-l-100 {
  padding-left: 100px;
}

// margin

.margin-l-0 {
  margin-left: 0;
}
.margin-l-10 {
  margin-left: 10px;
}
.margin-l-20 {
  margin-left: 20px;
}
.margin-l-30 {
  margin-left: 30px;
}
.margin-l-40 {
  margin-left: 40px;
}
.margin-l-50 {
  margin-left: 50px;
}
.margin-l-60 {
  margin-left: 60px;
}
.margin-l-70 {
  margin-left: 70px;
}
.margin-l-80 {
  margin-left: 80px;
}
.margin-l-90 {
  margin-left: 90px;
}
.margin-l-100 {
  margin-left: 100px;
}

/* ============
      padding, margin Small (sm)
      ==============*/
.padding-l-sm-0 {
  @include minSmall {
    padding-left: 0;
  }
}
.padding-l-sm-10 {
  @include minSmall {
    padding-left: 10px;
  }
}
.padding-l-sm-20 {
  @include minSmall {
    padding-left: 20px;
  }
}
.padding-l-sm-30 {
  @include minSmall {
    padding-left: 30px;
  }
}
.padding-l-sm-40 {
  @include minSmall {
    padding-left: 40px;
  }
}
.padding-l-sm-50 {
  @include minSmall {
    padding-left: 50px;
  }
}
.padding-l-sm-60 {
  @include minSmall {
    padding-left: 60px;
  }
}
.padding-l-sm-70 {
  @include minSmall {
    padding-left: 70px;
  }
}
.padding-l-sm-80 {
  @include minSmall {
    padding-left: 80px;
  }
}
.padding-l-sm-90 {
  @include minSmall {
    padding-left: 90px;
  }
}
.padding-l-sm-100 {
  @include minSmall {
    padding-left: 100px;
  }
}

// margin

.margin-l-sm-0 {
  @include minSmall {
    margin-left: 0;
  }
}
.margin-l-sm-10 {
  @include minSmall {
    margin-left: 10px;
  }
}
.margin-l-sm-20 {
  @include minSmall {
    margin-left: 20px;
  }
}
.margin-l-sm-30 {
  @include minSmall {
    margin-left: 30px;
  }
}
.margin-l-sm-40 {
  @include minSmall {
    margin-left: 40px;
  }
}
.margin-l-sm-50 {
  @include minSmall {
    margin-left: 50px;
  }
}
.margin-l-sm-60 {
  @include minSmall {
    margin-left: 60px;
  }
}
.margin-l-sm-70 {
  @include minSmall {
    margin-left: 70px;
  }
}
.margin-l-sm-80 {
  @include minSmall {
    margin-left: 80px;
  }
}
.margin-l-sm-90 {
  @include minSmall {
    margin-left: 90px;
  }
}
.margin-l-sm-100 {
  @include minSmall {
    margin-left: 100px;
  }
}

/* ============
      padding, margin Medium (md)
      ==============*/
.padding-l-md-0 {
  @include minMedium {
    padding-left: 0;
  }
}
.padding-l-md-10 {
  @include minMedium {
    padding-left: 10px;
  }
}
.padding-l-md-20 {
  @include minMedium {
    padding-left: 20px;
  }
}
.padding-l-md-30 {
  @include minMedium {
    padding-left: 30px;
  }
}
.padding-l-md-40 {
  @include minMedium {
    padding-left: 40px;
  }
}
.padding-l-md-50 {
  @include minMedium {
    padding-left: 50px;
  }
}
.padding-l-md-60 {
  @include minMedium {
    padding-left: 60px;
  }
}
.padding-l-md-70 {
  @include minMedium {
    padding-left: 70px;
  }
}
.padding-l-md-80 {
  @include minMedium {
    padding-left: 80px;
  }
}
.padding-l-md-90 {
  @include minMedium {
    padding-left: 90px;
  }
}
.padding-l-md-100 {
  @include minMedium {
    padding-left: 100px;
  }
}

// margin

.margin-l-md-0 {
  @include minMedium {
    margin-left: 0;
  }
}
.margin-l-md-10 {
  @include minMedium {
    margin-left: 10px;
  }
}
.margin-l-md-20 {
  @include minMedium {
    margin-left: 20px;
  }
}
.margin-l-md-30 {
  @include minMedium {
    margin-left: 30px;
  }
}
.margin-l-md-40 {
  @include minMedium {
    margin-left: 40px;
  }
}
.margin-l-md-50 {
  @include minMedium {
    margin-left: 50px;
  }
}
.margin-l-md-60 {
  @include minMedium {
    margin-left: 60px;
  }
}
.margin-l-md-70 {
  @include minMedium {
    margin-left: 70px;
  }
}
.margin-l-md-80 {
  @include minMedium {
    margin-left: 80px;
  }
}
.margin-l-md-90 {
  @include minMedium {
    margin-left: 90px;
  }
}
.margin-l-md-100 {
  @include minMedium {
    margin-left: 100px;
  }
}

/* ============
      padding, margin Large (md)
      ==============*/
.padding-l-lg-0 {
  @include minLarge {
    padding-left: 0;
  }
}
.padding-l-lg-10 {
  @include minLarge {
    padding-left: 10px;
  }
}
.padding-l-lg-20 {
  @include minLarge {
    padding-left: 20px;
  }
}
.padding-l-lg-30 {
  @include minLarge {
    padding-left: 30px;
  }
}
.padding-l-lg-40 {
  @include minLarge {
    padding-left: 40px;
  }
}
.padding-l-lg-50 {
  @include minLarge {
    padding-left: 50px;
  }
}
.padding-l-lg-60 {
  @include minLarge {
    padding-left: 60px;
  }
}
.padding-l-lg-70 {
  @include minLarge {
    padding-left: 70px;
  }
}
.padding-l-lg-80 {
  @include minLarge {
    padding-left: 80px;
  }
}
.padding-l-lg-90 {
  @include minLarge {
    padding-left: 90px;
  }
}
.padding-l-lg-100 {
  @include minLarge {
    padding-left: 100px;
  }
}

// margin

.margin-l-lg-0 {
  @include minLarge {
    margin-left: 0;
  }
}
.margin-l-lg-10 {
  @include minLarge {
    margin-left: 10px;
  }
}
.margin-l-lg-20 {
  @include minLarge {
    margin-left: 20px;
  }
}
.margin-l-lg-30 {
  @include minLarge {
    margin-left: 30px;
  }
}
.margin-l-lg-40 {
  @include minLarge {
    margin-left: 40px;
  }
}
.margin-l-lg-50 {
  @include minLarge {
    margin-left: 50px;
  }
}
.margin-l-lg-60 {
  @include minLarge {
    margin-left: 60px;
  }
}
.margin-l-lg-70 {
  @include minLarge {
    margin-left: 70px;
  }
}
.margin-l-lg-80 {
  @include minLarge {
    margin-left: 80px;
  }
}
.margin-l-lg-90 {
  @include minLarge {
    margin-left: 90px;
  }
}
.margin-l-lg-100 {
  @include minLarge {
    margin-left: 100px;
  }
}

/* ============
 - margin All Screens
==============*/

.-margin-10 {
  margin: -10px;
}
.-margin-20 {
  margin: -20px;
}
.-margin-30 {
  margin: -30px;
}
.-margin-40 {
  margin: -40px;
}
.-margin-50 {
  margin: -50px;
}
.-margin-60 {
  margin: -60px;
}
.-margin-70 {
  margin: -70px;
}
.-margin-80 {
  margin: -80px;
}
.-margin-90 {
  margin: -90px;
}
.-margin-100 {
  margin: -100px;
}

/* ============
- margin Small (sm)
==============*/
.-margin-sm-10 {
  @include minSmall {
    margin: -10px;
  }
}
.-margin-sm-20 {
  @include minSmall {
    margin: -20px;
  }
}
.-margin-sm-30 {
  @include minSmall {
    margin: -30px;
  }
}
.-margin-sm-40 {
  @include minSmall {
    margin: -40px;
  }
}
.-margin-sm-50 {
  @include minSmall {
    margin: -50px;
  }
}
.-margin-sm-60 {
  @include minSmall {
    margin: -60px;
  }
}
.-margin-sm-70 {
  @include minSmall {
    margin: -70px;
  }
}
.-margin-sm-80 {
  @include minSmall {
    margin: -80px;
  }
}
.-margin-sm-90 {
  @include minSmall {
    margin: -90px;
  }
}
.-margin-sm-100 {
  @include minSmall {
    margin: -100px;
  }
}

/* ============
- margin Medium (md)
==============*/
.-margin-md-10 {
  @include minMedium {
    margin: -10px;
  }
}
.-margin-md-20 {
  @include minMedium {
    margin: -20px;
  }
}
.-margin-md-30 {
  @include minMedium {
    margin: -30px;
  }
}
.-margin-md-40 {
  @include minMedium {
    margin: -40px;
  }
}
.-margin-md-50 {
  @include minMedium {
    margin: -50px;
  }
}
.-margin-md-60 {
  @include minMedium {
    margin: -60px;
  }
}
.-margin-md-70 {
  @include minMedium {
    margin: -70px;
  }
}
.-margin-md-80 {
  @include minMedium {
    margin: -80px;
  }
}
.-margin-md-90 {
  @include minMedium {
    margin: -90px;
  }
}
.-margin-md-100 {
  @include minMedium {
    margin: -100px;
  }
}

/* ============
- margin Large (lg)
==============*/
.-margin-lg-10 {
  @include minLarge {
    margin: -10px;
  }
}
.-margin-lg-20 {
  @include minLarge {
    margin: -20px;
  }
}
.-margin-lg-30 {
  @include minLarge {
    margin: -30px;
  }
}
.-margin-lg-40 {
  @include minLarge {
    margin: -40px;
  }
}
.-margin-lg-50 {
  @include minLarge {
    margin: -50px;
  }
}
.-margin-lg-60 {
  @include minLarge {
    margin: -60px;
  }
}
.-margin-lg-70 {
  @include minLarge {
    margin: -70px;
  }
}
.-margin-lg-80 {
  @include minLarge {
    margin: -80px;
  }
}
.-margin-lg-90 {
  @include minLarge {
    margin: -90px;
  }
}
.-margin-lg-100 {
  @include minLarge {
    margin: -100px;
  }
}

//============
//============

/* ============
- margin Top All Screens
==============*/
.-margin-t-10 {
  margin-top: -10px;
}
.-margin-t-20 {
  margin-top: -20px;
}
.-margin-t-30 {
  margin-top: -30px;
}
.-margin-t-40 {
  margin-top: -40px;
}
.-margin-t-50 {
  margin-top: -50px;
}
.-margin-t-60 {
  margin-top: -60px;
}
.-margin-t-70 {
  margin-top: -70px;
}
.-margin-t-80 {
  margin-top: -80px;
}
.-margin-t-90 {
  margin-top: -90px;
}
.-margin-t-100 {
  margin-top: -100px;
}

/* ============
- margin Small (sm)
==============*/
.-margin-t-sm-10 {
  @include minSmall {
    margin-top: -10px;
  }
}
.-margin-t-sm-20 {
  @include minSmall {
    margin-top: -20px;
  }
}
.-margin-t-sm-30 {
  @include minSmall {
    margin-top: -30px;
  }
}
.-margin-t-sm-40 {
  @include minSmall {
    margin-top: -40px;
  }
}
.-margin-t-sm-50 {
  @include minSmall {
    margin-top: -50px;
  }
}
.-margin-t-sm-60 {
  @include minSmall {
    margin-top: -60px;
  }
}
.-margin-t-sm-70 {
  @include minSmall {
    margin-top: -70px;
  }
}
.-margin-t-sm-80 {
  @include minSmall {
    margin-top: -80px;
  }
}
.-margin-t-sm-90 {
  @include minSmall {
    margin-top: -90px;
  }
}
.-margin-t-sm-100 {
  @include minSmall {
    margin-top: -100px;
  }
}

/* ============
- margin Medium (md)
==============*/
.-margin-t-md-10 {
  @include minMedium {
    margin-top: -10px;
  }
}
.-margin-t-md-20 {
  @include minMedium {
    margin-top: -20px;
  }
}
.-margin-t-md-30 {
  @include minMedium {
    margin-top: -30px;
  }
}
.-margin-t-md-40 {
  @include minMedium {
    margin-top: -40px;
  }
}
.-margin-t-md-50 {
  @include minMedium {
    margin-top: -50px;
  }
}
.-margin-t-md-60 {
  @include minMedium {
    margin-top: -60px;
  }
}
.-margin-t-md-70 {
  @include minMedium {
    margin-top: -70px;
  }
}
.-margin-t-md-80 {
  @include minMedium {
    margin-top: -80px;
  }
}
.-margin-t-md-90 {
  @include minMedium {
    margin-top: -90px;
  }
}
.-margin-t-md-100 {
  @include minMedium {
    margin-top: -100px;
  }
}

/* ============
- margin Large (md)
==============*/
.-margin-t-lg-10 {
  @include minLarge {
    margin-top: -10px;
  }
}
.-margin-t-lg-20 {
  @include minLarge {
    margin-top: -20px;
  }
}
.-margin-t-lg-30 {
  @include minLarge {
    margin-top: -30px;
  }
}
.-margin-t-lg-40 {
  @include minLarge {
    margin-top: -40px;
  }
}
.-margin-t-lg-50 {
  @include minLarge {
    margin-top: -50px;
  }
}
.-margin-t-lg-60 {
  @include minLarge {
    margin-top: -60px;
  }
}
.-margin-t-lg-70 {
  @include minLarge {
    margin-top: -70px;
  }
}
.-margin-t-lg-80 {
  @include minLarge {
    margin-top: -80px;
  }
}
.-margin-t-lg-90 {
  @include minLarge {
    margin-top: -90px;
  }
}
.-margin-t-lg-100 {
  @include minLarge {
    margin-top: -100px;
  }
}

//============
//============

/* ============
- margin Bottom All Screens
==============*/
.-margin-b-10 {
  margin-bottom: -10px;
}
.-margin-b-20 {
  margin-bottom: -20px;
}
.-margin-b-30 {
  margin-bottom: -30px;
}
.-margin-b-40 {
  margin-bottom: -40px;
}
.-margin-b-50 {
  margin-bottom: -50px;
}
.-margin-b-60 {
  margin-bottom: -60px;
}
.-margin-b-70 {
  margin-bottom: -70px;
}
.-margin-b-80 {
  margin-bottom: -80px;
}
.-margin-b-90 {
  margin-bottom: -90px;
}
.-margin-b-100 {
  margin-bottom: -100px;
}

/* ============
- margin Small (sm)
  ==============*/
.-margin-b-sm-10 {
  @include minSmall {
    margin-bottom: -10px;
  }
}
.-margin-b-sm-20 {
  @include minSmall {
    margin-bottom: -20px;
  }
}
.-margin-b-sm-30 {
  @include minSmall {
    margin-bottom: -30px;
  }
}
.-margin-b-sm-40 {
  @include minSmall {
    margin-bottom: -40px;
  }
}
.-margin-b-sm-50 {
  @include minSmall {
    margin-bottom: -50px;
  }
}
.-margin-b-sm-60 {
  @include minSmall {
    margin-bottom: -60px;
  }
}
.-margin-b-sm-70 {
  @include minSmall {
    margin-bottom: -70px;
  }
}
.-margin-b-sm-80 {
  @include minSmall {
    margin-bottom: -80px;
  }
}
.-margin-b-sm-90 {
  @include minSmall {
    margin-bottom: -90px;
  }
}
.-margin-b-sm-100 {
  @include minSmall {
    margin-bottom: -100px;
  }
}

/* ============
- margin Medium (md)
  ==============*/
.-margin-b-md-10 {
  @include minMedium {
    margin-bottom: -10px;
  }
}
.-margin-b-md-20 {
  @include minMedium {
    margin-bottom: -20px;
  }
}
.-margin-b-md-30 {
  @include minMedium {
    margin-bottom: -30px;
  }
}
.-margin-b-md-40 {
  @include minMedium {
    margin-bottom: -40px;
  }
}
.-margin-b-md-50 {
  @include minMedium {
    margin-bottom: -50px;
  }
}
.-margin-b-md-60 {
  @include minMedium {
    margin-bottom: -60px;
  }
}
.-margin-b-md-70 {
  @include minMedium {
    margin-bottom: -70px;
  }
}
.-margin-b-md-80 {
  @include minMedium {
    margin-bottom: -80px;
  }
}
.-margin-b-md-90 {
  @include minMedium {
    margin-bottom: -90px;
  }
}
.-margin-b-md-100 {
  @include minMedium {
    margin-bottom: -100px;
  }
}

/* ============
- margin Large (md)
  ==============*/
.-margin-b-lg-10 {
  @include minLarge {
    margin-bottom: -10px;
  }
}
.-margin-b-lg-20 {
  @include minLarge {
    margin-bottom: -20px;
  }
}
.-margin-b-lg-30 {
  @include minLarge {
    margin-bottom: -30px;
  }
}
.-margin-b-lg-40 {
  @include minLarge {
    margin-bottom: -40px;
  }
}
.-margin-b-lg-50 {
  @include minLarge {
    margin-bottom: -50px;
  }
}
.-margin-b-lg-60 {
  @include minLarge {
    margin-bottom: -60px;
  }
}
.-margin-b-lg-70 {
  @include minLarge {
    margin-bottom: -70px;
  }
}
.-margin-b-lg-80 {
  @include minLarge {
    margin-bottom: -80px;
  }
}
.-margin-b-lg-90 {
  @include minLarge {
    margin-bottom: -90px;
  }
}
.-margin-b-lg-100 {
  @include minLarge {
    margin-bottom: -100px;
  }
}

//============
//============

/* ============
- margin Right All Screens
==============*/
.-margin-r-10 {
  margin-right: -10px;
}
.-margin-r-20 {
  margin-right: -20px;
}
.-margin-r-30 {
  margin-right: -30px;
}
.-margin-r-40 {
  margin-right: -40px;
}
.-margin-r-50 {
  margin-right: -50px;
}
.-margin-r-60 {
  margin-right: -60px;
}
.-margin-r-70 {
  margin-right: -70px;
}
.-margin-r-80 {
  margin-right: -80px;
}
.-margin-r-90 {
  margin-right: -90px;
}
.-margin-r-100 {
  margin-right: -100px;
}

/* ============
 - margin Small (sm)
    ==============*/
.-margin-r-sm-10 {
  @include minSmall {
    margin-right: -10px;
  }
}
.-margin-r-sm-20 {
  @include minSmall {
    margin-right: -20px;
  }
}
.-margin-r-sm-30 {
  @include minSmall {
    margin-right: -30px;
  }
}
.-margin-r-sm-40 {
  @include minSmall {
    margin-right: -40px;
  }
}
.-margin-r-sm-50 {
  @include minSmall {
    margin-right: -50px;
  }
}
.-margin-r-sm-60 {
  @include minSmall {
    margin-right: -60px;
  }
}
.-margin-r-sm-70 {
  @include minSmall {
    margin-right: -70px;
  }
}
.-margin-r-sm-80 {
  @include minSmall {
    margin-right: -80px;
  }
}
.-margin-r-sm-90 {
  @include minSmall {
    margin-right: -90px;
  }
}
.-margin-r-sm-100 {
  @include minSmall {
    margin-right: -100px;
  }
}

/* ============
- margin Medium (md)
    ==============*/
.-margin-r-md-10 {
  @include minMedium {
    margin-right: -10px;
  }
}
.-margin-r-md-20 {
  @include minMedium {
    margin-right: -20px;
  }
}
.-margin-r-md-30 {
  @include minMedium {
    margin-right: -30px;
  }
}
.-margin-r-md-40 {
  @include minMedium {
    margin-right: -40px;
  }
}
.-margin-r-md-50 {
  @include minMedium {
    margin-right: -50px;
  }
}
.-margin-r-md-60 {
  @include minMedium {
    margin-right: -60px;
  }
}
.-margin-r-md-70 {
  @include minMedium {
    margin-right: -70px;
  }
}
.-margin-r-md-80 {
  @include minMedium {
    margin-right: -80px;
  }
}
.-margin-r-md-90 {
  @include minMedium {
    margin-right: -90px;
  }
}
.-margin-r-md-100 {
  @include minMedium {
    margin-right: -100px;
  }
}

/* ============
- margin Large (md)
    ==============*/
.-margin-r-lg-10 {
  @include minLarge {
    margin-right: -10px;
  }
}
.-margin-r-lg-20 {
  @include minLarge {
    margin-right: -20px;
  }
}
.-margin-r-lg-30 {
  @include minLarge {
    margin-right: -30px;
  }
}
.-margin-r-lg-40 {
  @include minLarge {
    margin-right: -40px;
  }
}
.-margin-r-lg-50 {
  @include minLarge {
    margin-right: -50px;
  }
}
.-margin-r-lg-60 {
  @include minLarge {
    margin-right: -60px;
  }
}
.-margin-r-lg-70 {
  @include minLarge {
    margin-right: -70px;
  }
}
.-margin-r-lg-80 {
  @include minLarge {
    margin-right: -80px;
  }
}
.-margin-r-lg-90 {
  @include minLarge {
    margin-right: -90px;
  }
}
.-margin-r-lg-100 {
  @include minLarge {
    margin-right: -100px;
  }
}

//============
//============

/* ============
- margin Left All Screens
==============*/
.-margin-l-10 {
  margin-left: -10px;
}
.-margin-l-20 {
  margin-left: -20px;
}
.-margin-l-30 {
  margin-left: -30px;
}
.-margin-l-40 {
  margin-left: -40px;
}
.-margin-l-50 {
  margin-left: -50px;
}
.-margin-l-60 {
  margin-left: -60px;
}
.-margin-l-70 {
  margin-left: -70px;
}
.-margin-l-80 {
  margin-left: -80px;
}
.-margin-l-90 {
  margin-left: -90px;
}
.-margin-l-100 {
  margin-left: -100px;
}

/* ============
- margin Small (sm)
  ==============*/
.-margin-l-sm-10 {
  @include minSmall {
    margin-left: -10px;
  }
}
.-margin-l-sm-20 {
  @include minSmall {
    margin-left: -20px;
  }
}
.-margin-l-sm-30 {
  @include minSmall {
    margin-left: -30px;
  }
}
.-margin-l-sm-40 {
  @include minSmall {
    margin-left: -40px;
  }
}
.-margin-l-sm-50 {
  @include minSmall {
    margin-left: -50px;
  }
}
.-margin-l-sm-60 {
  @include minSmall {
    margin-left: -60px;
  }
}
.-margin-l-sm-70 {
  @include minSmall {
    margin-left: -70px;
  }
}
.-margin-l-sm-80 {
  @include minSmall {
    margin-left: -80px;
  }
}
.-margin-l-sm-90 {
  @include minSmall {
    margin-left: -90px;
  }
}
.-margin-l-sm-100 {
  @include minSmall {
    margin-left: -100px;
  }
}

/* ============
- margin Medium (md)
==============*/
.-margin-l-md-10 {
  @include minMedium {
    margin-left: -10px;
  }
}
.-margin-l-md-20 {
  @include minMedium {
    margin-left: -20px;
  }
}
.-margin-l-md-30 {
  @include minMedium {
    margin-left: -30px;
  }
}
.-margin-l-md-40 {
  @include minMedium {
    margin-left: -40px;
  }
}
.-margin-l-md-50 {
  @include minMedium {
    margin-left: -50px;
  }
}
.-margin-l-md-60 {
  @include minMedium {
    margin-left: -60px;
  }
}
.-margin-l-md-70 {
  @include minMedium {
    margin-left: -70px;
  }
}
.-margin-l-md-80 {
  @include minMedium {
    margin-left: -80px;
  }
}
.-margin-l-md-90 {
  @include minMedium {
    margin-left: -90px;
  }
}
.-margin-l-md-100 {
  @include minMedium {
    margin-left: -100px;
  }
}

/* ============
- margin Large (md)
 ==============*/
.-margin-l-lg-10 {
  @include minLarge {
    margin-left: -10px;
  }
}
.-margin-l-lg-20 {
  @include minLarge {
    margin-left: -20px;
  }
}
.-margin-l-lg-30 {
  @include minLarge {
    margin-left: -30px;
  }
}
.-margin-l-lg-40 {
  @include minLarge {
    margin-left: -40px;
  }
}
.-margin-l-lg-50 {
  @include minLarge {
    margin-left: -50px;
  }
}
.-margin-l-lg-60 {
  @include minLarge {
    margin-left: -60px;
  }
}
.-margin-l-lg-70 {
  @include minLarge {
    margin-left: -70px;
  }
}
.-margin-l-lg-80 {
  @include minLarge {
    margin-left: -80px;
  }
}
.-margin-l-lg-90 {
  @include minLarge {
    margin-left: -90px;
  }
}
.-margin-l-lg-100 {
  @include minLarge {
    margin-left: -100px;
  }
}
