/* ============
Overscroll All Screens
==============*/
.overscroll-auto {
  overscroll-behavior: auto;
}
.overscroll-contain {
  overscroll-behavior: contain;
}
.overscroll-none {
  overscroll-behavior: none;
}
.overscroll-y-auto {
  overscroll-behavior-y: auto;
}
.overscroll-y-contain {
  overscroll-behavior-y: contain;
}
.overscroll-y-none {
  overscroll-behavior-y: none;
}
.overscroll-x-auto {
  overscroll-behavior-x: auto;
}
.overscroll-x-contain {
  overscroll-behavior-x: contain;
}
.overscroll-x-none {
  overscroll-behavior-x: none;
}

/* ============
Overscroll Small (sm)
==============*/
.overscroll-sm-auto {
  @include minSmall {
    overscroll-behavior: auto;
  }
}
.overscroll-sm-contain {
  @include minSmall {
    overscroll-behavior: contain;
  }
}
.overscroll-sm-none {
  @include minSmall {
    overscroll-behavior: none;
  }
}
.overscroll-y-sm-auto {
  @include minSmall {
    overscroll-behavior-y: auto;
  }
}
.overscroll-y-sm-contain {
  @include minSmall {
    overscroll-behavior-y: contain;
  }
}
.overscroll-y-sm-none {
  @include minSmall {
    overscroll-behavior-y: none;
  }
}
.overscroll-x-sm-auto {
  @include minSmall {
    overscroll-behavior-x: auto;
  }
}
.overscroll-x-sm-contain {
  @include minSmall {
    overscroll-behavior-x: contain;
  }
}
.overscroll-x-sm-none {
  @include minSmall {
    overscroll-behavior-x: none;
  }
}

/* ============
Overscroll Medium (md)
==============*/
.overscroll-md-auto {
  @include minMedium {
    overscroll-behavior: auto;
  }
}
.overscroll-md-contain {
  @include minMedium {
    overscroll-behavior: contain;
  }
}
.overscroll-md-none {
  @include minMedium {
    overscroll-behavior: none;
  }
}
.overscroll-y-md-auto {
  @include minMedium {
    overscroll-behavior-y: auto;
  }
}
.overscroll-y-md-contain {
  @include minMedium {
    overscroll-behavior-y: contain;
  }
}
.overscroll-y-md-none {
  @include minMedium {
    overscroll-behavior-y: none;
  }
}
.overscroll-x-md-auto {
  @include minMedium {
    overscroll-behavior-x: auto;
  }
}
.overscroll-x-md-contain {
  @include minMedium {
    overscroll-behavior-x: contain;
  }
}
.overscroll-x-md-none {
  @include minMedium {
    overscroll-behavior-x: none;
  }
}
/* ============
Overscroll Large (lg)
==============*/
.overscroll-lg-auto {
  @include minLarge {
    overscroll-behavior: auto;
  }
}
.overscroll-lg-contain {
  @include minLarge {
    overscroll-behavior: contain;
  }
}
.overscroll-lg-none {
  @include minLarge {
    overscroll-behavior: none;
  }
}
.overscroll-y-lg-auto {
  @include minLarge {
    overscroll-behavior-y: auto;
  }
}
.overscroll-y-lg-contain {
  @include minLarge {
    overscroll-behavior-y: contain;
  }
}
.overscroll-y-lg-none {
  @include minLarge {
    overscroll-behavior-y: none;
  }
}
.overscroll-x-lg-auto {
  @include minLarge {
    overscroll-behavior-x: auto;
  }
}
.overscroll-x-lg-contain {
  @include minLarge {
    overscroll-behavior-x: contain;
  }
}
.overscroll-x-lg-none {
  @include minLarge {
    overscroll-behavior-x: none;
  }
}
